#set ($dao=$data.dao)
#set ($entity=$data.entity)
package ${dao.packageName};

import org.springframework.stereotype.Repository;
import org.apache.ibatis.annotations.Param;
import ${entity.packageName}.${entity.clazzName};
/**
 * 该类负责数据访问接口，与mybatis的mapper文件对应。
 * @author: ${data.auth} 
 * @date: ${data.datetime}
 * @since ${data.version}
 */
@Repository
public interface ${dao.clazzName}{
	public void updateById(@Param("id")Long id);
	public void deleteById(@Param("id")Long id);
	public ${entity.clazzName} selectById(@Param("id")Long id);
}